<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Off" internalLogFile="${tempdir}\nlog-internal.log">

  <!-- This is for the log file in the temp directory. The filename will be determined at run time -->
  <variable name="logFilePath"
            value="${tempdir}/${processname}.${gdc:TempOrDebug}.${date:format=yyyyMMdd}.log" />

  <!-- This variable is for determining the logging at run time  -->
  <variable name="logLev"
            value="Info" />

  <targets>
    <!-- This is for the log file in the temp folder -->
    <target xsi:type="File"
            name="logFile"
            fileName="${var:logFilePath}"
            layout="${date:format=yyyy/MM/dd HH\:mm\:ss} ${pad:padding=-5:inner=${level:uppercase=true}}  ${message}${onexception:${newline}${exception:format=tostring}}"
            footer="${date:format=yyyy/MM/dd HH\:mm\:ss}" />

    <!-- This is for the Visual Studio debug output window-->
    <target xsi:type="Debugger"
            name="debug"
            layout="+++ ${message}"/>
  </targets>

  <rules>
    <!-- Level of messages written to the temp log file -->
    <logger name="*"
            minlevel="${var:logLev}"
            writeTo="logFile" />

    <!-- Debug level (and above) messages are written to the debug window -->
    <logger name="*"
            minlevel="Debug"
            writeTo="debug" />
  </rules>
</nlog>
